@model MiddlewareAspNetCore.Model.Person
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p><b>Name:</b> @Model.Name </p>
<p><b>Surname:</b> @Model.Surname </p>
<p><b>Age:</b> @Model.Age </p>
